<div class="svsh__container">
	<!-- wp:template-part {"slug":"header", "className":"header"} /-->
	<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"layout":{"type":"default"}} -->
		<!-- wp:pattern {"slug":"svsh/main-banner"} /-->
	<!-- /wp:group -->
	<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"layout":{"type":"default"}} -->
		<!-- wp:pattern {"slug":"svsh/video-block"} /-->
	<!-- /wp:group -->
	<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"layout":{"type":"default"}} -->
		<!-- wp:pattern {"slug":"svsh/about-us"} /-->
	<!-- /wp:group -->
	<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"layout":{"type":"default"}} -->
	<!-- wp:pattern {"slug":"svsh/our-values"} /-->
	<!-- /wp:group -->
	<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"layout":{"type":"default"}} -->
	<!-- wp:pattern {"slug":"svsh/why-we"} /-->
	<!-- /wp:group -->
	<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"layout":{"type":"default"}} -->
	<!-- wp:pattern {"slug":"svsh/partner-program"} /-->
	<!-- /wp:group -->
	<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"layout":{"type":"default"}} -->
	<!-- wp:pattern {"slug":"svsh/mission"} /-->
	<!-- /wp:group -->
	<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"layout":{"type":"default"}} -->
	<!-- wp:pattern {"slug":"svsh/vacancies"} /-->
	<!-- /wp:group -->
	<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"layout":{"type":"default"}} -->
	<!-- wp:pattern {"slug":"svsh/form"} /-->
	<!-- /wp:group -->

	<!-- wp:template-part {"slug":"footer", "className":"footer", "id":"footer"} /-->
</div>
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"layout":{"type":"default"}} -->
<!-- wp:pattern {"slug":"svsh/popup-form"} /-->
<!-- /wp:group -->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|50","left":"var:preset|spacing|50","right":"var:preset|spacing|50"}}},"layout":{"type":"default"}} -->
<!-- wp:pattern {"slug":"svsh/cookie"} /-->
<!-- /wp:group -->
